<input type="text" ng-model="name" />
<input type="text" ng-model="lastname" />
<button ng-click="add()">Dodaj</button>
<hr>
<div ng-repeat="user in users">
    <span ng-show="editId == user.id">
        <input type="text" ng-model="user.name" class="userEdit">
        <input type="text" ng-model="user.lastname" class="userEdit">
    </span>
    <a href="#!/user/{{ user.id }}"  ng-hide="editId == user.id" class="userDetails">{{ user.name }} {{ user.lastname }}</a> 
    <button ng-click="delete(user.id)">Usuń</button>
    <button ng-click="edit(user)">
        <span ng-hide="editId == user.id">Edytuj</span>
        <span ng-show="editId == user.id">Zapisz</span>
    </button>
</div>