body {
    background-color: cornsilk;
}

.d-none {
    display: none;
}

.m-b-100 {
    margin-bottom: 100px;
}

.pizza {
    cursor: pointer;
}

.counter {
    font-size: 18pt;
    font-weight: 700;
}